{% extends 'base.html.twig' %}

{% block title %}Welcome!{% endblock %}

{% block body %}
<div class="example-wrapper">
    <section class="hero">
        <div class="container">
            <div class="hero-content">
                <div class="row">
                    <div class="col-12">
                        <h2 id="title1">Ready to meet the love!</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
